@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Turret+Road:wght@700&display=swap");

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Baumans", sans-serif;
  background-color: #45657b;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer-container {
  height: 55%;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(145deg, #2b4556, #3b5d74);
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #2e4a5c, inset -9.91px -9.91px 80px #38586e;
}

h1,
h2 {
  text-align: center;
}

button {
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 10%;
  background-color: #2b485b;
}

button:active {
  transform: translateY(4px);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 500px;
  margin: 50px auto;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(145deg, #2b4556, #3b5d74);
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #2e4a5c, -9.91px -9.91px 15px #38586e;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

#time-left {
  font-size: 2em;
}
